form {
    text-align: center;
}

.item-container {
    width: 80%;
}

button {
    width: 100%;
}

mat-form-field {
    width: 80%;
    color: white;
}

.title {
    margin: 10px;
    text-align: left;
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}

.btn-submit {
    width: 80%;
    margin-bottom: 20px;
}