<div class="search">
	<mat-form-field color="accent">
		<mat-label>Search</mat-label>
		<input matInput placeholder="Search" [(ngModel)]="search">
	</mat-form-field>
</div>

<mat-list role="list">
	<mat-list-item role="listitem" *ngFor="let user of users" [class.hidden]="user.id == 1 || searchUser(user)">
		<mat-icon matListIcon>{{ user.userlevel == 1 ? 'person_add' : 'person' }}</mat-icon>
		<h3 matLine>{{ user.name }}</h3>
		<p matLine>
			<span>{{ user.email }}</span>
		</p>
		<button mat-mini-fab color="warn" class="btn-action btn-remove" [class.hidden]="checkAdmin()" [matMenuTriggerFor]="menu"><mat-icon matListIcon>clear</mat-icon></button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="removeUser(user)">Remove</button>
			<button mat-menu-item>Cancel</button>
		</mat-menu>
		<button mat-mini-fab color="accent" class="btn-action btn-edit" [class.hidden]="checkAdmin()" (click)="editUser(user)"><mat-icon matListIcon>edit</mat-icon></button>

	</mat-list-item>
</mat-list>